In [1]:
from pandas import Series, DataFrame
import pandas as pd
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [2]:
train = pd.read_csv('bagging_prediction.csv')

In [3]:
train.head()

   Unnamed: 0    A    B    C    D
0           0  1.0  0.0  0.0  0.0
1           1  1.0  0.0  0.0  0.0
2           2  1.0  0.0  0.0  0.0
3           3  1.0  0.0  0.0  0.0
4           4  1.0  0.0  0.0  0.0

In [4]:
train.drop(columns=['Unnamed: 0'],inplace=True)

In [5]:
train.head()

     A    B    C    D
0  1.0  0.0  0.0  0.0
1  1.0  0.0  0.0  0.0
2  1.0  0.0  0.0  0.0
3  1.0  0.0  0.0  0.0
4  1.0  0.0  0.0  0.0

In [6]:
train.index.names=['id']

In [8]:
train.head()

      A    B    C    D
id
0   1.0  0.0  0.0  0.0
1   1.0  0.0  0.0  0.0
2   1.0  0.0  0.0  0.0
3   1.0  0.0  0.0  0.0
4   1.0  0.0  0.0  0.0

In [9]:
train.to_csv('tree_bagging2.csv')